# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Node
node_modules/

# Build
dist/
build/